*,body,html{
    box-sizing: border-box;
    margin: 0;
    background: #0b0c10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

// .nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     background: #0b0c10;
//     color: #66fcf1;
//     width: auto;
//     height: 4em;
//     margin: 0;
//     box-sizing: border-box;
//     box-shadow: 2px 2px 4px black;
//     &__links{
//         border: none;
//         outline: none;
//         background: #66fcf1;
//         color: #0b0c10;
//         padding: 0 .5em 0 .5em;
//         text-decoration: none;
//         display: block;
//     }

//     &__links:hover{
//         background: black;
//         color: white;
//     }
// }
// @media  screen and (max-width: 500px) {
//     /* Styles */
//     .nav{
//         flex-direction: column;
//         display: none;
//         width: 100%;
//         height: auto;
//         padding: 1rem;
//         border: 2px solid yellow;
//         &__links{
//             width: 90%;
//             text-align: center;
//             margin-bottom: 0.5rem;
//             border-radius: 5px;
//         }
//     }
// }

.header{
    display: flex;
    border: 2px solid green;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    &__nav{
        background: red;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__link{
            background: green;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-right: 2rem;
            padding: 0.2rem;
            &:hover{
                background: rgb(180, 180, 120);
            }
        }

    }

    .menu{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        &__bars{
            width: 30px;
            height: 6px;
            margin-bottom: 3px;
            background: rgb(0, 0, 0);

        }
    }
}

@media screen and(max-width: 500px) {
    .header{
        background: green;
        display: flex;
        justify-content: space-between;
        height: 2rem;

        &__nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin: 0 auto;
            top: 2rem;
            width: 100%;
            height: auto;
            right: 100%;
            transition: 0.3s;

            &__link{
                background: cornflowerblue;
                width: 100%;
                text-align: center;
                margin-bottom: .5rem;
            }
        }

        .menu{
            display: flex;
        }

        .open{
            right: 0%;
        }
    }
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    background: chartreuse;

    &__intro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        height: auto;

        &__image{
            width: 15rem;
            height: 15rem;
            border: 2px solid black;
            border-radius: 50%;
            background: #66fcf1;
        }
        &__heading{
            color: #66fcf1;
            font-weight: 900;
            font-size: 60px;

        }
        &__description{
            color: #c5c6c7;
            font-size: 20px;
            margin-top: 0;
        }
    }

    &__skills{
        border: 2px solid red;
        display: block;
        width: 98%;
        padding: 0.2rem;
        margin: 1rem auto;

        &__header{
            border: 2px solid red;
            padding: 0.2rem;
            width: 15rem;
            margin: 0.5rem auto;
        }
        &__container {
            border: 2px solid white;
            width: 99%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto;
            &__skill{
                border: 2px solid green;
                flex-basis: 12rem;
                height: 15rem;
                margin: 0.6rem auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &__header{
                    width: 100%;
                    height: 5rem;
                    padding: 1rem;
                    border: 2px solid yellow;
                }

                &__content{
                    width: 12rem;
                    height: 10rem;
                    padding: 1rem;
                    margin: 0.2rem;
                    border: 2px solid orange;
                }
            }
        }
    }


}
@media screen and (max-width: 520px) {
    .main__intro{
        width: 100%;
        padding: 0 0.6rem 0 0.6rem;
    }
    .main__intro__heading {
        font-size: 30px;
    }
}