@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,600&display=swap");
*,
body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background: #0b0c10;
  color: #c5c6c7;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  background: white;
  margin: 0 auto;
  top: 0;
  -webkit-box-shadow: 2px 2px 60px 10px rgba(0, 0, 0, 0.712);
          box-shadow: 2px 2px 60px 10px rgba(0, 0, 0, 0.712);
  height: 5rem;
}

.header__logo {
  margin-left: 3rem;
  padding: 0.8rem;
}

.header__logo h2 {
  font-size: 2rem;
  color: black;
}

.header__nav {
  margin: 0.5rem 0 0.5rem 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav__close {
  display: none;
}

.header__nav__link {
  margin: 0.5rem 2rem 0.5rem 0;
  padding: 0.2rem;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.header__nav__link:hover {
  background: #b4b478;
  text-decoration: underline;
}

.header .menu {
  display: none;
}

.header .menu .fas {
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 500px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 3rem;
    width: 100%;
    height: 5rem;
  }
  .header__logo {
    margin-left: 0.5rem;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
    position: fixed;
    background: #0b0c10;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__nav__close {
    display: block;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  .header__nav__close:hover {
    color: white;
  }
  .header__nav__link {
    width: 40%;
    background: cornflowerblue;
    text-align: center;
    margin: 0.5rem auto 1rem auto;
  }
  .header .menu {
    margin-right: 1rem;
    display: block;
  }
  .header .menu .fas {
    display: block;
  }
  .header .open {
    right: 0;
    position: fixed;
    height: 100vh;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background: #1e6e6e;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0.6rem;
}

.main__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 98vw;
  background: white;
}

.main__hero__image {
  height: auto;
  width: 30rem;
  border: 2px solid red;
  margin: 2rem auto;
}

.main__hero__image__container {
  height: 20rem;
  width: 25rem;
  border-radius: 30px;
  border: 2px solid black;
  margin: 2rem auto;
}

.main__hero__image__links {
  border: 2px solid yellow;
  margin: 1rem;
  background: #09423f;
}

.main__hero__image__links__button {
  margin: 1rem;
  width: 12rem;
}

.main__hero__message {
  height: auto;
  width: 30rem;
  border: 2px solid black;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
}

.main__hero__message h1 {
  color: red;
  font-size: 4rem;
  margin: 1rem;
}

.main__hero__message h1 span {
  color: green;
  font-size: 4rem;
  font-weight: 100;
}

.main__hero__message p {
  text-align: left;
  margin: 1rem;
  line-height: 2.5rem;
}

.main__skills {
  display: block;
  width: 98%;
  padding: 0.2rem;
  margin: 1rem auto;
}

.main__skills__header {
  padding: 0.2rem;
  width: 15rem;
  margin: 0.5rem auto;
}

.main__skills__container {
  border: 2px solid white;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.main__skills__container__skill {
  border: 2px solid green;
  -ms-flex-preferred-size: 12rem;
      flex-basis: 12rem;
  height: 15rem;
  margin: 0.6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__skills__container__skill__header {
  height: 5rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid yellow;
}

.main__skills__container__skill__content {
  height: 10rem;
  width: 12rem;
  padding: 1rem;
  margin: 0.2rem;
  border: 2px solid orange;
}

@media screen and (max-width: 520px) {
  .main__intro {
    width: 100%;
    padding: 0 0.6rem 0 0.6rem;
  }
  .main__intro__heading {
    font-size: 30px;
  }
}

.lock-scroll {
  overflow: hidden;
}

.footer {
  height: auto;
  width: 95vw;
  background: yellow;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.footer__header {
  width: 70vw;
  background: cyan;
  border: 2px solid white;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.footer__header__heading {
  font-size: 3rem;
}

.footer__form {
  border: 2px solid black;
  background: red;
}

.footer__form__input {
  width: 100%;
}

.footer__form__textarea {
  width: 100%;
}

.footer__links {
  width: 70vw;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__links__link {
  margin: 1rem;
}

.footer .copyright {
  font-size: 0.5rem;
  margin: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .footer {
    width: 90vw;
    margin: 0 auto;
  }
  .footer__header__heading {
    font-size: 1rem;
  }
}

@media (min-width: 0px) and (max-width: 998px) {
  .main__hero {
    background: orange;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__hero__image {
    width: 90%;
    height: auto;
  }
  .main__hero__image__container {
    width: 90%;
    margin: 1.2rem auto;
  }
  .main__hero__image__links {
    margin: 0.3rem;
  }
  .main__hero__message {
    width: 90%;
    height: auto;
  }
  .main__hero__message h1 {
    font-size: 2rem;
  }
  .main__hero__message h1 span {
    color: green;
    font-size: 2rem;
    font-weight: 100;
  }
  .main__hero__message p {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */