@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,600&display=swap');

*,body,html{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 2px 2px 60px 10px rgba(0, 0, 0, 0.712);

    &__logo{
        margin-left: 3rem;
        padding: 1rem;
        h2{
            font-size: 2rem;
            color: black;
        }
    }
    &__nav{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__close{
            display: none;
        }

        &__link{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-right: 2rem;
            padding: 0.2rem;
            transition: 2s all ease;
            &:hover{
                background: rgb(180, 180, 120);
                text-decoration: underline;
            }
        }

    }

    .menu{
        .fas{
            font-size: 2rem;
            display: none;
    }
           display: none;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     height: auto;
    //     touch-action: none;
    //     &__bars{
    //         width: 30px;
    //         height: 6px;
    //         margin-bottom: 3px;
    //         background: rgb(0, 0, 0);

    //     }
     }
}

@media screen and(max-width: 500px) {
    .header{
        background: green;
        display: flex;
        justify-content: space-between;
        height: 3rem;
        width: 100%;

        &__logo{
            margin-left: 0.5rem;
        }

        &__nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            margin: 0 auto;
            top: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            right: 100%;
            transition: 0.3s;
            background-color: black;

            &__close{
                display: block;
                outline: none;
                border: 2px solid rgb(126, 59, 59);
                border-radius: 2px;
                cursor: pointer;
                margin-top: 0.5rem;
                &:hover{
                    color: white;
                }

            }

            &__link{
                background: cornflowerblue;
                width: 40%;
                text-align: center;
                margin: 0 auto;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }

        .menu{
            margin-right: 1rem;
            display: block;
            .fas{
                display: block;
            }
        }

        .open{
            right: 0;
            position: fixed;
            height: 100vh;
        }
    }
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    background: chartreuse;
    margin-bottom: 0.6rem;

    &__intro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        height: 100vh;

        &__image{
            width: 15rem;
            height: 15rem;
            border: 2px solid black;
            border-radius: 50%;
            background: #66fcf1;
        }
        &__heading{
            color: #66fcf1;
            font-weight: 900;
            font-size: 60px;

        }
        &__description{
            color: #c5c6c7;
            font-size: 20px;
            margin-top: 0;
        }
    }

    &__skills{
        border: 2px solid red;
        display: block;
        width: 98%;
        padding: 0.2rem;
        margin: 1rem auto;

        &__header{
            border: 2px solid red;
            padding: 0.2rem;
            width: 15rem;
            margin: 0.5rem auto;
        }
        &__container {
            border: 2px solid white;
            width: 99%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto;
            &__skill{
                border: 2px solid green;
                flex-basis: 12rem;
                height: 15rem;
                margin: 0.6rem auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &__header{
                    width: 100%;
                    height: 5rem;
                    padding: 1rem;
                    border: 2px solid yellow;
                }

                &__content{
                    width: 12rem;
                    height: 10rem;
                    padding: 1rem;
                    margin: 0.2rem;
                    border: 2px solid orange;
                }
            }
        }
    }


}
@media screen and (max-width: 520px) {
    .main__intro{
        width: 100%;
        padding: 0 0.6rem 0 0.6rem;
    }
    .main__intro__heading {
        font-size: 30px;
    }
}

.lock-scroll{
    overflow: hidden;
}

.footer{
    width: 95vw;
    border: 2px solid green;
    height: auto;
    background: yellow;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    &__header{
        width: 70vw;
        background: cyan;
        border: 2px solid white;
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 1rem;

        &__heading{
            font-size: 3rem;
        }
    }

    &__links{
        width: 70vw;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &__link{
            border: 2px solid green;
            margin: 1rem;
        }
    }

    .copyright{
        font-size: 0.5rem;
        margin: 0.8rem;
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .footer{
        width: 90vw;
        margin: 0 auto;
    }
    .footer__header__heading{
        font-size: 1rem;
    }

}